git+https://github.com/opendatalab/DocLayout-YOLO.git
pdfplumber
camelot-py[cv]
pytesseract
pillow
sentence-transformers
ultralytics==8.1.0
torch
torchvision
torchaudio
opencv-python
matplotlib
doclayout-yolo
opencv-python-headless
tqdm
rank-bm25
faiss-cpu
nltk
groq
pymupdf
transformers
gradio
